.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 24px; 
}

.header_menu {
    display: flex;
    justify-self: center;
}

.header_menu_links {
    display: flex;
    gap: 32px;
    list-style-type: circle;
    padding-right: 7px;
}

.list {
    font-size: 18px;
    font-weight: 400;
    text-underline-offset: 4px; 
    text-decoration: underline;
}

.list a:link, menu a:visited, menu a:hover {
    color: black;
     text-decoration: underline;
     border-bottom: 1px solid black;
}

.header__links-list-item_no-bullit, .header__links-list-item_no-bullit a:link {
    list-style-type: none;
    border-bottom: none;
}
.header__link_active {
    text-decoration: none;
}
.header_logo {
    width: 148px;
    height: 105px;
}

.address {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    list-style-type: none;
}

.address-item {
    padding-left: 185px;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0.18px;
}

.address-item .address-item a:link {
    text-decoration: none;
}

.cover {
    position: relative;
    background: url(../images/cover.jpg) no-repeat center / cover; 
    color: white;
    text-transform: uppercase;
    z-index: 0;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.cover_title { 
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 165px 50px 147px;
    gap: 20px;   
} 

.cover_title span { 
    font-size: 100px; 
    font-weight: 700;  
}

.text_cover {
    display: block;
    line-height: 125px;
    letter-spacing: 30px; 
}

.text_center {
    text-align: center;
}

.text_right {
    text-align: right;
    line-height: 120px;  
}

.text_cover .variat {
    letter-spacing: 28px; 
}

.text_cover .spans {
    letter-spacing: 60px; 
}

.cover_description {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 0 50px 55px 78px;
    gap: 79px;
}

.cover_text {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    word-spacing: 18px;
}

.betbutton {
    width: 256px;
    height: 51px;
    border: 1px solid white;
    background-color: transparent;
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-size: 22px;
    line-height: 51px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.title_lots {
    padding: 179px 64px 26px; 
    color: #000;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.container_lots {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 25px;
    justify-content: flex-start; 
    padding: 0; 
    margin: 0 auto 0 20px; 
}

.card_lots a { 
    text-decoration: none; 
}

.card_lots {
    max-width: 334px;
    min-height: 563px;
    flex-grow: 1;
}

.card {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 51px 40px 48px;
    justify-content: space-between;
    background: center / cover no-repeat; 
}

.card_cinema {
    background-image: url(./../images/card-lot-01.jpg);
}

.card_book {
    background-image: url(./../images/card-lot-02.jpg);
}

.card_picture {
    background-image: url(./../images/card-lot-03.jpg);
}

.card_title {
    color: white;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-decoration: underline;
    text-transform: uppercase;
}

.link_lots { 
    text-decoration: none;
}

.card_text {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%; 
}

.view_more {
    display: block;
    text-underline-offset: 3px;
    padding-top: 30px;
    color: black;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    margin-left: 64px;
}

.about {
    margin-top: 148px;
}

.about_container {
    display: grid;
    grid-template-columns: 334px repeat(1, 1fr);
    gap: 25px;
    padding: 34px 24px 0;
}

.about_logo {
    justify-self: center;
    background-color: #000;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_logo_image {
    width: 148px;
    height: 114px;
}

.about_content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 100px;
}

.about__auction{
    padding: 0px 0px 0px 25px;   
}

.about__title {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom:100px;
    padding-top:100px;
}

.about__text {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom:25px;
}

.footer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 180px 50px 88px;
    gap: 140px;
    align-items: flex-start;
}

.footer_menu {
    padding-left: 35px;
}

.footer_menu_links {
    list-style-type: none;
    text-underline-offset: 3px;
}

.footer_list {
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.footer__link_active, .footer__link_active a:link {
    text-decoration: none;
    border-bottom: none;
}

.images_footer {
    width: 48px;
    height: 48px;
}

.footer_images {
    display: flex;
    gap: 48px;
}
