.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 24px; 
}

.header_menu {
    display: flex;
    justify-self: center;
}

.header_menu_links {
    display: flex;
    gap: 35px;
    list-style-type: circle;
    padding-right: 9px;
    margin-top: -1px;
}

.list {
    font-size: 18px;
    font-weight: 400;
    text-underline-offset: 4px; 
    text-decoration: underline;
}

.list a:link, menu a:visited, menu a:hover {
    color: black;
     text-decoration: underline;
     border-bottom: 1px solid black;
}

.header__links-list-item_no-bullit {
    list-style: none !important;
}
.header__link_active {
    text-decoration: none !important;
}
.header_logo {
    width: 148px;
    height: 105px;
    margin-top: 4px;
}

.address {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    list-style-type: none;
}

.address-item {
    padding-left: 185px;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0.18px;
    font-style: normal;
    text-decoration-skip-ink: none;
    text-underline-offset: 4px;
}

.address-item .address-item a:link {
    text-decoration: none;
}

.cover {
    position: relative;
    background: url(../images/cover.jpg) no-repeat center;
    color: white;
    text-transform: uppercase;
    z-index: 0;
    background-size: cover;
    max-height: 758px;
   
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    
}

.cover_title { 
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 165px 50px 147px;
    gap: 15px;   
} 

.cover_title span { 
    font-size: 100px; 
    font-weight: 700;  
}

.text_cover {
    display: block;
    line-height: 125px;
    letter-spacing: 30px; 
    margin-top: -5px;
}

.text_center {
    text-align: center;
    margin-left: 30px;
    margin-top: -5px;
}

.text_right {
    text-align: right;
    line-height: 120px;
    right: -25px;
    position: relative;
}

.text_cover .variat {
    letter-spacing: 28px; 
}

.text_cover .spans {
    letter-spacing: 60px; 
}

.cover_description {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 0 50px 30px 70px;
    gap: 79px;
    position: relative;
    margin-top: 3px;
}

.cover_text {
    position: relative;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    word-spacing: 18px;
    left: -22px;
    top: -45px;
}

.betbutton {
    width: 256px;
    height: 51px;
    border: 1px solid white;
    background-color: transparent;
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-size: 22px;
    line-height: 51px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    right: -4px;
    top: -47px;
}
.lots {
    padding: 0 39px;
    margin-top: 178px; 
}

.title_lots {
    font: 700 40px Raleway, sans-serif;
    color: #000;
    text-transform: uppercase;
    padding: 0 0 50px 26px; 
}

.container_lots {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 1100px;
    margin: -23px -15px;
    padding: 0px 0px 0px 0px;
    list-style: none;
}

.card_lots {
    width: 100%;
    position: relative;
}

.card {
    height: 596px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 48px 40px 48px 39px;
     text-decoration: none !important;
}
.card:hover {
    background-size: 110%;
    transition: background-size 0.3s ease-in-out;
}

.card::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.card_cinema { background-image: url(./../images/card-lot-01.jpg); }
.card_book { background-image: url(./../images/card-lot-02.jpg); }
.card_picture { background-image: url(./../images/card-lot-03.jpg); }

.card_title {
    font: 700 22px/26.5px Raleway, sans-serif;
    color: white;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
    text-transform: uppercase;
    z-index: 2;
    max-width: none;
    white-space: normal;
    padding: 0 0px;
}

.card_text {
    text-decoration: none !important;
    list-style: none;
    font: 400 20px/24px Raleway, sans-serif;
    color: white;
    z-index: 2;
    margin-top: auto;
    max-width: none;
    padding: 0 0px 0px;


}
.card a .card_text{
    text-decoration: none !important;
}
.view_more {
    display: block;
    font: 400 20px Raleway, sans-serif;
    color: black;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
    padding: 54px 0 0 25px;
    max-width: 1100px;
    margin: 0 auto;
}

.about {
    margin-top: 120px;
}

.about_container {
    display: grid;
    grid-template-columns: 334px repeat(1, 1fr);
    gap: 1px;
    padding: 34px 24px 0;
}

.about_logo {
    justify-self: center;
    background-color: #000;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_logo_image {
    width: 148px;
    height: 114px;
}

.about_content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 100px;
}

.about__auction{
    padding: 0px 0px 0px 25px;   
}

.about__title {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom:100px;
    padding-top:100px;
}

.about__text {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom:25px;
}

.footer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 182px 50px 88px;
    gap: 140px;
    align-items: flex-start;
    margin-top: -25px;
}



.footer_menu_links {
    list-style-type: none;
}
.footer_address {
    margin-top: -3px;
    margin-left: -2px;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0.18px;
    font-style: normal;
    text-decoration-skip-ink: none;
    text-underline-offset: 4px;   
}
.footer_menu_links li:not(:first-child) {
    list-style-type: none;
}
.footer_list {
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

.footer__link_active, .footer__link_active a:link {
    text-decoration: none;
    border-bottom: none;
}

.images_footer {
    width: 48px;
    height: 48px;
}

.footer_images {
    display: flex;
    gap: 47px;
}
